lab2/lab2-cli-client/src/main/java/me/savushkin/wst/lab2/music-album-service.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://lab2.wst.savushkin.me/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://lab2.wst.savushkin.me/"
        name="music-album-service">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://lab2.wst.savushkin.me/"
                        schemaLocation="http://0.0.0.0:8080/music-album-service?xsd=1"></xsd:import>
        </xsd:schema>
    </types>
    <message name="update-album">
        <part name="parameters" element="tns:update-album"></part>
    </message>
    <message name="update-albumResponse">
        <part name="parameters" element="tns:update-albumResponse"></part>
    </message>
    <message name="delete-album">
        <part name="parameters" element="tns:delete-album"></part>
    </message>
    <message name="delete-albumResponse">
        <part name="parameters" element="tns:delete-albumResponse"></part>
    </message>
    <message name="create-album">
        <part name="parameters" element="tns:create-album"></part>
    </message>
    <message name="create-albumResponse">
        <part name="parameters" element="tns:create-albumResponse"></part>
    </message>
    <message name="find-albums">
        <part name="parameters" element="tns:find-albums"></part>
    </message>
    <message name="find-albumsResponse">
        <part name="parameters" element="tns:find-albumsResponse"></part>
    </message>
    <message name="get-albums">
        <part name="parameters" element="tns:get-albums"></part>
    </message>
    <message name="get-albumsResponse">
        <part name="parameters" element="tns:get-albumsResponse"></part>
    </message>
    <portType name="MusicAlbumWebService">
        <operation name="update-album">
            <input wsam:Action="http://lab2.wst.savushkin.me/MusicAlbumWebService/update-albumRequest"
                   message="tns:update-album"></input>
            <output wsam:Action="http://lab2.wst.savushkin.me/MusicAlbumWebService/update-albumResponse"
                    message="tns:update-albumResponse"></output>
        </operation>
        <operation name="delete-album">
            <input wsam:Action="http://lab2.wst.savushkin.me/MusicAlbumWebService/delete-albumRequest"
                   message="tns:delete-album"></input>
            <output wsam:Action="http://lab2.wst.savushkin.me/MusicAlbumWebService/delete-albumResponse"
                    message="tns:delete-albumResponse"></output>
        </operation>
        <operation name="create-album">
            <input wsam:Action="http://lab2.wst.savushkin.me/MusicAlbumWebService/create-albumRequest"
                   message="tns:create-album"></input>
            <output wsam:Action="http://lab2.wst.savushkin.me/MusicAlbumWebService/create-albumResponse"
                    message="tns:create-albumResponse"></output>
        </operation>
        <operation name="find-albums">
            <input wsam:Action="http://lab2.wst.savushkin.me/MusicAlbumWebService/find-albumsRequest"
                   message="tns:find-albums"></input>
            <output wsam:Action="http://lab2.wst.savushkin.me/MusicAlbumWebService/find-albumsResponse"
                    message="tns:find-albumsResponse"></output>
        </operation>
        <operation name="get-albums">
            <input wsam:Action="http://lab2.wst.savushkin.me/MusicAlbumWebService/get-albumsRequest"
                   message="tns:get-albums"></input>
            <output wsam:Action="http://lab2.wst.savushkin.me/MusicAlbumWebService/get-albumsResponse"
                    message="tns:get-albumsResponse"></output>
        </operation>
    </portType>
    <binding name="MusicAlbumWebServicePortBinding" type="tns:MusicAlbumWebService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <operation name="update-album">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="delete-album">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="create-album">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="find-albums">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="get-albums">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
    </binding>
    <service name="music-album-service">
        <port name="MusicAlbumWebServicePort" binding="tns:MusicAlbumWebServicePortBinding">
            <soap:address location="http://0.0.0.0:8080/music-album-service"></soap:address>
        </port>
    </service>
</definitions>